<div>
  <h2>Movie (Object Based)</h2>
  <pre>{{movie | json}}</pre>
</div>

<div>
  <h2>Movie (Observable Based)</h2>
  <pre>{{movie$ | async | json}}</pre>
  <p>{{(movie$ | async)?.title}}</p>
</div>

<!-- sollte bevorzug werden, weil hier der call nur einmal gemacht wird-->
<div *ngIf="(movie$ | async) as m">
  <h2>Movie (Observable Based)</h2>
  <pre>{{m | json}}</pre>
  <p>{{m.title}}</p>
</div>
