<!-- <div>
    <app-movies-pages></app-movies-pages>

    <p>{{ version }}</p>

  <p>{{ fabian.color }}</p>

  <pre>{{ fabian | json }}</pre>
  <pre>{{ assholes | json }}</pre>

  <ul>
    <li *ngFor="let ass of assholes">
      {{ass.name}}
      <p *ngIf="ass.name==='Fabian'">Ohh jaaaa !</p>
    </li>
  </ul>

  </div> -->

<router-outlet></router-outlet>

<h3>{{ counter$ | async }}</h3>
